:root{
    --cor-fundo:#ff0000;
    --cor-principal:#000000; 
    --cor-secundaria:#000000;
    --cor-destaque:#fff700;
    --cor-texto:#0d00ff;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    min-height: 100vh;
}